
body{
    font-family: 'Montserrat', sans-serif; /*utilizando as fonte externas do google*/
}
header{
    background: gray;
    padding: 20px 0;
}

.caixa-cabecario{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1:hover{
    opacity: 0.4;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;

}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color:chartreuse;
    font-weight: bold;
    text-decoration: underline;
}

nav a:hover {
    font-size: 25px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black ;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: darkorange;
}
.produtos li:active{
    border-color: crimson;
}
.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;
    font-weight: bold;
}
.produto-preco{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

footer{
    text-align: center;
    background:url("bg.jpg");
    padding: 40px 0;

}

.copy{
    font-size: 13px;
    color: white;
    margin: 10px 0;
    font-weight: bold;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px
}

.input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}

.enviar{

    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 20px 40px;
}

thead{
    background: gray;
    color:white;
    font-weight: bold;
}
td,th{
    border: 1px solid black;
    padding: 8px 12px;
}

/*css da página inicial*/
.banner{
    width: 100%; /*deixando o banner do tamnho 100% da pagina*/
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px; ;
    margin: 0 auto;
}

.titulo-principal{

    text-align: center;/*texto alihando ao centro*/
    font-size: 2em;/*as medidas "em" são medidas propocionais a medidas padrões em pixel- aqui estamos deixando o titulo duas vezes maior que a fonte padrão*/
    margin: 0 0 1em;/*colocando um espaço abaixo do titulo para melhorar a leitura do conteudo*/
    clear: left; /*A propriedade clear do CSS especifica se um elemento pode ter elementos flutuantes ao seu lado ou se devem ser movidos para abaixo dele (clear).*/
}

.principal p {
    margin: 0 0 1em;/*colocando um espaço abaixo para melhorar a leitura do conteudo*/
}

.principal strong{
    font-weight: bold;/* weight: peso da fonte - bold: fonte em negrito*/
}
.principal em{
    font-style: italic; /*italic: font em italico*/
}

.utensilios{
    width: 120px;
    float: left;  /* A propriedade float do CSS determina que um elemento deve ser retirado do seu fluxo normal e colocado ao longo do lado direito ou esquerdo Tanto o float:left quanto o float: 
    right servem para que o elemento se destaque na tela, deixe de ocupar o espaço em que estava, para que os outros elementos possam se posicionar ao redor dele*/

    margin: 0 20px 20px 0;/*adicionaremos uma margem de 20px para a direita, 20px para baixo e 0 para a esquerda.*/
}
.conteudo-mapa{
    width: 940px; ;
    margin: 0 auto;

}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888);/*utilizando gradiente*/

}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.beneficios{
    padding: 3em 0;
    background: #888888;

}
.conteudo-beneficios{
    width: 640px; /* criando uma caixa para envolver a lista e imagem dos beneficios*/
    margin: 0 auto; /*margens 0 para cima e baixo e margens automaticas para os lados*/

}
.lista-beneficios{
    width: 40%; /* a lista vai ocupar 40% da caixa criada*/
    display: inline-block;
    vertical-align: top; /*alinhando a lista no topo*/

}
.itens{
    line-height: 1.5; /*alterando a altura da linha*/
}

.itens:before{ /* utilizando um pseudo elemento CSS*/
    content: "🟊";
}

.itens:first-child{/*pegando o primeiro elemento da lista*/

    font-weight: bold;
}
.imagem-beneficios{
    width: 60%;
  
    box-shadow: 10px 10px 2px black; /*criando sobras*/
}

.imagem-beneficios:hover{
    opacity: 0.5;

}

.video{
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
   .caixa-cabecario, .principal, .beneficios, .conteudo-mapa,.video,.produtos {
        width: auto;
   }
   h1{
        text-align: center;
   }
   nav{
        position: static;
   }
   .conteudo-beneficios{
    width: 100%;
   }
   .imagem-beneficios{
    width: 100%;
   }
   .produto-descricao, .produto-preco, li{
    font-size: 1em;
   }
}